body {
    position: relative;
}
img {
    width: 600px;
    height: 250px;
    border: 1px solid black;
}
div {
    position: absolute;
    left: 25%;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: colume;
   
}